documents/

dashboard/.vscode/
dashboard/credit_risk_portfolio.Report/
dashboard/credit_risk_portfolio.SemanticModel/
dashboard/example/

dashboard/credit_risk_portfolio.pbip
dashboard/themes/

Dataset/*.csv
.vscode/